* {
  border: none;
  font-family: 'JetBrains Mono Bold', 'Symbols Nerd Font Mono';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  /* min-height: 30px; */
}

window#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 4px;
  background-color: #11111b;
  color: #b4befe;
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  background: #11111b;
  color: #b4befe;
}


#window, #tray, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #cpu, #temperature, #memory{
  border-radius: 4px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
}

#backlight, #bluetooth, #network, #memory, #cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0;
}

#pulseaudio, #battery, #temperature, #cpu, #network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#window{
    margin-left: 5px;
}

#clock {
  margin-right: 5px;
}

#tray {
  margin-right: 10px;
}
